<h2>Detail of all the incomes of the selected type <%=Type.find(@income.type_id).name%></h2><br />  
<table border='1'>
		<thead>
			<tr>
			<th>Recieved In</th>
			<th>Amount</th>
			<th>Date</th>
			</tr>
		</thead>
		<tbody>
		<%typeincomes=Income.where('person_detail_id=? and type_id=?',@income.person_detail_id,@income.type_id)%>
			<%typeincomes.all.each do |typeincome|%>
				<tr>
				<td><%=typeincome.recieved_in%></td>
				<td><%=typeincome.amount%></td>
				<td><%=typeincome.date%></td>
				</tr>
			<%end%>
			<%t=typeincomes.where('date >= ? and date <= ?',Date.today.beginning_of_month - 12.month,Date.today)%><br />
		</tbody>
</table>
<h3>Total income in current month :</h3><br />
	
From this type = <%=t.where('date >= ?',Date.today.beginning_of_month).pluck(:amount).sum%><br />
	
<h3>Total income in current year :</h3><br />

From this type = <%=t.where('date >= ?',Date.today - 12.month).pluck(:amount).sum%><br />
