<h1>Add Education Detail</h1>
<%= form_for @educationdetail do |f|%> 
	<%if @educationdetail.errors.any? %>
		<h4>These erros prevented the form from being saved.</h4>
		<ul style="color:red">
			<% @educationdetail.errors.full_messages.each do |msg| %>
				<li><%=msg %></li>
			<%end%>
		</ul>
	<%end%>  

	<%="Institution Name : "%><%=f.text_field :institution_name%><br />
	<%="Certificate : "%><%=f.text_field :certificate_type_name %><br />
	<%="Board/University name : "%><%=f.text_field :board_or_university_name %><br />
	<%="Percentage/CGPA : "%><%=f.text_field :percentage_or_cgpa %><br />
	<%="Year : "%><%=f.text_field :year_of_passing %><br />
	<%=f.hidden_field :person_detail_id, :value => PersonDetail.find_by(user_id: current_user.id).id%><br /><br />
	<%=f.submit%>
<%end%>
