<b><center><h3>One Year Expense</h3></b></center><br/>
<%expenses=Expenditure.where('person_detail_id = ?',(PersonDetail.find_by(user_id: current_user.id).id)).where('date >=? and date<=?',Date.today.beginning_of_month - 12.month,Date.today)%>
<div class="row">
	<%currentdate=Date.today.beginning_of_month - 12.month%>
	<%while currentdate <= Date.today %>
		<%(monthlyexpenses=expenses.where('date>=? and date<=?',currentdate,currentdate.end_of_month))%>
	<div class="col-md-6">
			<table border='1'>
				<thead>
					<tr>
					<th>Sl. No.</th>
					<th>Type</th>
					<th>Payment Method</th>
					<th>Amount</th>
					<th>Date</th>
					<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<%=currentdate.strftime("%B  %Y")%>
					<%monthlyexpenses.order(:date ).each.with_index(1) do |expense,index|%>
						<tr>
					    <td><%=index%></td>
						<td><%=Type.find(expense.type_id).name%></td>
						<td><%=expense.payment_method%></td>
						<td><%=expense.amount%></td>
						<td><%=expense.date%></td>
						<td><%=link_to "Update",edit_expenditure_path(expense.id)%> | <%=link_to "Delete",expenditure_path(expense.id),:method => 'delete'%></td>
						</tr>
					<%end%>
					Expenditure = <%=monthlyexpenses.pluck(:amount).sum%>
					<%currentdate+=1.month%>
					<hr>
				</tbody>
			</table>
	</div>
	<div class="col-md-6">
	<%t=Hash.new%>
	<%monthlyexpenses.pluck(:type_id).uniq.each do |onetype|%>
			<%t.update(Type.find(onetype).name => monthlyexpenses.where('type_id=?',onetype).pluck(:amount).sum)%>
	<%end%>
	<%= pie_chart t%>
	</div>
<%end%></div>
<div class="row">
	<div class="col-md-6">
	<%types=expenses.all.pluck(:type_id).uniq%>
	<h2>Total Yearly Expenditure :-<br /> Rs <%=expenses.pluck(:amount).sum%> -/</h2>
	<%types.each do |type|%>
		<%=link_to Type.find(type).name,expenditure_path(Expenditure.find_by(type_id: type).id)%> : <%=expenses.where("type_id=?",type).pluck(:amount).sum%><br />
	<%end%></div>
	<div class="col-md-6">
		<%a=Hash.new%>
		<%expenses.pluck(:type_id).uniq.each do |onetype|%>
			<%a.update(Type.find(onetype).name => expenses.where('type_id=?',onetype).pluck(:amount).sum)%>
	<%end%>
	<%= pie_chart a%>
	</div>
</div>
